@tailwind base;
@tailwind components;
@tailwind utilities;

select,
input,
textarea {
  @apply border-2  rounded-md w-full py-2 px-3 text-gray-900 leading-tight outline-none focus:border-blue-400 focus:shadow-blue-100   focus:shadow-md;
}

.from-group {
  @apply my-3;
}

.from-group > input,
textarea,
select {
  @apply mt-1;
}
.from-group > label,
textarea,
select {
  @apply font-normal;
}

.input-invalid {
  @apply border-2  rounded-md w-full py-2 px-3 text-gray-900 leading-tight outline-none border-red-400 focus:border-red-400 focus:shadow-red-100   focus:shadow-md;
}

.error-message {
  @apply text-red-500 text-sm;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e1e9fa;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
